<!doctype html>
<html lang="en" x-ng-app="mediaServer">
<head>
    <meta charset="utf-8">
    <title>Dev</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/progress.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
</head>
<body x-ng-controller="MovieListController as movListCtrl" class="text-center">
    <h3>Movie List</h3>
    <p>{{movListCtrl.date | date: "dd-MMM-yy HH:mm:ss"}}</p>
  
    <div x-ng-hide="movListCtrl.loaded || movListCtrl.error"> <!--Don't include the {{}} braces when inserting like this-->
        <p>Please wait - loading!<br>
        <progress></progress></p>
    </div>
    <div x-ng-show="movListCtrl.error">
        An error has occured - unable to retrieve list.
    </div>
    
    <div x-ng-show="movListCtrl.loaded" class="center-block">
        <input x-ng-model="order" x-ng-init="order='imdbTitle'" type="radio" value="imdbTitle" x-ng-checked="movListCtrl.loaded">Sort Asc</input>
        <input x-ng-model="order" type="radio" value="-imdbTitle">Sort Desc</input>
        <br><br>
        {{movListCtrl.movies.length}} Movies
        <br><br>
        <table style="margin-left:auto; margin-right:auto">
            <tr x-ng-repeat="movie in movListCtrl.movies | orderBy:order"  x-ng-bind-html="movie.imdbTitle" ng-style="movie.watched == 1 && {'background-color': 'rgba(200,200,200,0.4)'} ||  {'background-color': 'rgba(0,255,0,0.3)'}">
                <td><img height="100px" src="https://image.tmdb.org/t/p/w185{{movie.moviedbImage}}" title="{{movie.movieID}}"/></td><td><strong>{{movie.imdbTitle}}</strong> ({{movie.imdbYear}}) [{{movie.imdbRating}}] {{movie.imdbPlot}}</td>
            </tr>
        </table>
    </div>
    
   
    
</body>
</html>