<div class="text-center">
    <h3>Movie List</h3>

    <div data-ng-hide="movListCtrl.movies.loaded || movListCtrl.movies.error"> <!--Don't include the {{}} braces when inserting like this-->
        <p>Please wait - loading!<br>
        <progressbar class="progress-striped active" style="width:30%;margin: 0 auto;" max="100" value="100"></progressbar></p>
    </div>
    <div data-ng-show="movListCtrl.movies.error">
        An error has occured - unable to retrieve list.
    </div>

    
    <div data-ng-show="movListCtrl.movies.loaded" class="center-block">
        <input data-ng-model="order" data-ng-init="order='imdbTitle'" type="radio" value="imdbTitle" data-ng-checked="movListCtrl.loaded">Sort Asc</input>
        <input data-ng-model="order" type="radio" value="-imdbTitle">Sort Desc</input>
        <br>
        <br>
        Title Search: <input ng-model="searchbox.imdbTitle"> {{(movListCtrl.movies.list|filter:searchbox).length}} Movie(s)
        <br><br>
        <table class="movielist" style="margin-left:auto; margin-right:auto;">
            <tr data-ng-repeat="movie in movListCtrl.movies.list | orderBy:order" data-ng-show="([movie] | filter:searchbox).length > 0"   data-ng-style="movie.watched == 1 && {'background-color': 'rgba(200,200,200,0.4)'} ||  {'background-color': 'rgba(0,255,0,0.4)'}"  data-ng-click="pageCtrl.link('movies/'+movie.movieID)" >
                <td style="padding-left: 5px;"><img height="100px" width="67px" src="https://image.tmdb.org/t/p/w185{{movie.moviedbImage}}" title="{{movie.movieID}}"/></td><td style="padding: 15px;"><strong>{{movie.imdbTitle}}</strong> ({{movie.imdbYear}}) [{{movie.imdbRating}}*]</td>
            </tr>
        </table>
    </div>
    
   
    
</div>